@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

/* font-family: 'Plus Jakarta Sans', sans-serif; */

:root {
    /* Primary colours */
    --primary-red: hsl(1, 90%, 64%);
    --primary-blue: hsl(219, 85%, 26%);

    /* Neutral colours */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-v-light-grayish-blue: hsl(210, 60%, 98%);
    --neutral-light-grayish-blue-1: hsl(211, 68%, 94%);
    --neutral-light-grayish-blue-2: hsl(205, 33%, 90%);
    --neutral-grayish-blue: hsl(219, 14%, 63%);
    --neutral-dark-grayish-blue: hsl(219, 12%, 42%);
    --neutral-very-dark-blue: hsl(224, 21%, 14%);
}

body {
    /* color: var(--primary-blue); */
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 80px;
    background-color: var(--neutral-light-grayish-blue-2);   
}

p{ 
    font-size: 16px;
}

.notification-page__top {
    /* background-color: green; */
    border-radius: 15px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.notification-page__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-page__option {
    align-self: center;
}

.notification-page__container {
    /* background-color: royalblue; */
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification-page {
    display: flex;
    border-radius: 15px;
    border: 2px solid black;
    flex-direction: column;
    background-color: var(--neutral-white);
}

.notification {
    background-color: var(--neutral-grayish-blue);
    border-radius: 6px;
    display: flex;
}