@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

/* font-family: 'Plus Jakarta Sans', sans-serif; */

:root {
    /* Primary colours */
    --primary-red: hsl(1, 90%, 64%);
    --primary-blue: hsl(219, 85%, 26%);

    /* Neutral colours */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-v-light-grayish-blue: hsl(210, 60%, 98%);
    --neutral-light-grayish-blue-1: hsl(211, 68%, 94%);
    --neutral-light-grayish-blue-2: hsl(205, 33%, 90%);
    --neutral-grayish-blue: hsl(219, 14%, 63%);
    --neutral-dark-grayish-blue: hsl(219, 12%, 42%);
    --neutral-very-dark-blue: hsl(224, 21%, 14%);
}

body {
    /* color: var(--primary-blue); */
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 80px;
    background-color: var(--neutral-light-grayish-blue-2);   
}

p{ 
    font-size: 16px;
}

.notification-page__top {
    /* background-color: green; */
    border-radius: 15px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.notification-page__header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 12px;
    
}

.notification-header__text > h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 800;
}

.notification-header__counter {
    background-color: var(--primary-blue);
    color: white;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
}

.notification-page__option {
    align-self: center;
}

.notification-page__option a {
    text-decoration: none;
    color: var(--neutral-dark-grayish-blue);
}

.notification-page__container {
    /* background-color: royalblue; */
    border-radius: 15px;
    padding: 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notification-page {
    display: flex;
    border-radius: 15px;
    /* border: 2px solid black; */
    flex-direction: column;
    background-color: var(--neutral-white);
}

.notification {
    border-radius: 6px;
    display: flex;
    /* align-items: center; */
    padding: 12px;
    gap: 20px
}
.notification__text p {
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--neutral-dark-grayish-blue);
}

.notification__time {
    color: var(--neutral-dark-grayish-blue);
    
}

.private_message {
    margin-top: 8px;
    background-color: white;
    padding: 16px;
    border: 2px solid var(--neutral-grayish-blue);
    border-radius: 6px;
}

.notification > img {
    width: 50px;
    height: 50px;
}

/* Links in notification */
.person_name { 
    margin-right: 4px;
    text-decoration: none;
    color: black;
    font-weight: 800; 
}

.person_name:hover {
    color: var(--primary-blue);
}

.user_post {
    text-decoration: none;
    color: var(--neutral-dark-grayish-blue);
    font-weight: 800;
    margin-left: 4px;
}

.group_name {
    text-decoration: none;
    color:var(--primary-blue);
    font-weight: 800;
    margin-left: 2px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: var(--primary-red);
    border-radius: 50%;
    display: inline-block;
    margin-left: 9px;
}

.unread {
    background-color: var(--neutral-v-light-grayish-blue);
}

/* To be used when selecting mark all as read */

.hidden {
    display: none;
}